@media only screen and (max-width: 600px) {

    main #content {
        flex-direction: column;
    }

    /* Nav */

    #default-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

    #content-info {
        text-align: center;
    }
    
    /* Footer */
    #social-icons > a:hover {
        background-color: transparent;
        color: var(--global-white);
    
        transition: none;
    }
}

@media only screen and (max-width: 385px) {
    main #content, #mobile-nav, #social-icons {
        font-size: 3vw;
    }
}