
/* Main Panel */

main {
    width: 100vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Mobile Nav */

#mobile-nav {
    display: none;
    font-size: 0.9em;
}

#mobile-nav ul {
    gap: 1em;
}

#mobile-nav a {
    border-radius: 1em;
    padding: 0.8em 0.6em;

    font-weight: bold;
    text-decoration: none;
    color: var(--global-white);
    transition: var(--transout);
}

#mobile-nav a:hover, #mobile-nav .current-nav-page {
    background-color: var(--global-white);
    color: var(--page-color);

    transition: var(--transin);
}

/* Content */

#content {
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 2em;
}

#profile-image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 1em;
    background-image: url(img/profile.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

#content-info {
    width: var(--profile-image-size);
    
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

#content-info h1 {
    font-size: 1.5em;
}

#content-info p {
    font-size: 0.9em;
    color: var(--global-light-gray);
}

#content-info > * {
    color: var(--global-white);
}