:root {
    --font: "Poppins", Arial, sans-serif;
    --profile-image-size: 15em;
    --page-color: #181818;
    --global-white: rgb(250, 250, 250);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    height: 100%;
}

body {
    height: inherit;
    width: 100%;
    font-family: var(--font);
}

/* Main Panel */

main {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--page-color);
}

/* Default Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    position: relative;
}

nav ul, li {
    display: flex;
    gap: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav li {
    text-align: center;
}

nav a {
    border: 2px solid transparent;
    border-radius: 1em;
    color: var(--global-white);
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
    padding: 0.05em 0.5em;
    outline: none;
}

nav a:hover, .current-nav-page {
    background-color: var(--global-white);
    color: #242424;
}

/* Mobile Header */

header .alt-nav {
    width: 2.5em;
    height: 2.5em;
    border: 2px solid var(--global-white);
    border-radius: 0.5em;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
}

header .alt-nav-line {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 0.2em;
    background-color: var(--global-white);
    border-radius: 1em;
}

.alt-nav-line:nth-child(1) {
    transform: translateY(-0.5em);
}

.alt-nav-line:nth-child(4){
    transform: translateY(0.5em);
}

.alt-nav.open .alt-nav-line:nth-child(1), .alt-nav.open .alt-nav-line:nth-child(4) {
    transform: scale(0.1);
}

.alt-nav.open .alt-nav-line:nth-child(2) {
    transform: rotate(45deg);
}

.alt-nav.open .alt-nav-line:nth-child(3) {
    transform: rotate(-45deg);
}

.alt-nav.open {
    background-color: var(--global-white);
}

.alt-nav-line.open {
    background-color: #242424;
}

/* Content */

#content {
   height: fit-content;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2em;
   flex-wrap: wrap;
}

#profile-image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 1em;
    background-image: url(img/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-image:hover {
    margin: 1em;
    box-shadow:  7px 7px 14px #151515,
    -7px -7px 14px #333333;
}

#content-info {
    width: var(--profile-image-size);
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

#content-info h1 {
    font-size: 1.5em;
}

#content-info p {
    font-size: 0.9em;
}

#content-info > * {
    color: var(--global-white);
}

/* Footer */

footer {
    height: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

#social-icons > * {
    text-decoration: none;
    outline: none;
    color: var(--global-white);
    transition: 0.5s;
    border: 1px solid transparent;
    border-radius: 5em;
    padding: 0.2em 0;
}

#social-icons a:hover {
    background-color: var(--global-white);
    color: #242424;
}